<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap </title>
 
</head>
<body>
  <form  (ngSubmit)="getEtudianteByNumero()">
    <div class="row" >
        
      <label for="numero">Entrer votre numéro:</label>
    
     <div class="col">
      <input type="text"  name="numero" [(ngModel)]="numero" class="form-control">
     </div>
     <div class="col">
      <button type="submit" class="btn btn-success"> valider</button>
     </div>
    <br/>

  </div>
  </form>

<div class="container mt-3">

  
  <p>LISTE DES ETUDIANTES</p> 
           
  <div class="table-responsive">
    <table class="table table-bordered" >
    <thead>

        <tr><th>Id</th><th>Prenom et Nom</th> <th>Numero</th><th>Date de Naissance</th><th>Télephone</th> <th>Mail</th><th> Niveau</th><th>Filiére</th><th>UFR</th><th>Année</th> <th>Nom Entreprise</th><th>Adress Entreprise</th><th>Representant Entreprise</th><th>Qualité</th><th>Tel Entreprise</th> <th>Mail Entreprise</th></tr>

      </thead>
      <tbody *ngFor="let etudiante of etudiantes">
      <tr> 
        <td>{{etudiante.prenomNon}}</td>
        <td>{{etudiante.numero}}</td>
        <td>{{etudiante.dateN}}</td>
        <td>{{etudiante.teleph}}</td>
        <td>{{etudiante.mail}}</td>
        <td>{{etudiante.niveau}}</td> 
        <td>{{etudiante.filiere}}</td>
        <td>{{etudiante.ufr}}</td>
        <td>{{etudiante.annee}}</td>
        <td *ngIf="etudiante.entreprise!=null">{{etudiante.entreprise.nom}}</td>
        <td *ngIf="etudiante.entreprise===null"></td>
        <td *ngIf="etudiante.entreprise!=null">{{etudiante.entreprise.adress}}</td>
        <td *ngIf="etudiante.entreprise===null"></td>
        <td *ngIf="etudiante.entreprise!=null">{{etudiante.entreprise.representant}}</td>
        <td *ngIf="etudiante.entreprise===null"></td>
        <td *ngIf="etudiante.entreprise!=null">{{etudiante.entreprise.qualite}}</td>
        <td *ngIf="etudiante.entreprise===null"></td>
        <td *ngIf="etudiante.entreprise!=null">{{etudiante.entreprise.telephone}}</td>
        <td *ngIf="etudiante.entreprise===null"></td>
        <td *ngIf="etudiante.entreprise!=null">{{etudiante.entreprise.mailS}}</td>
        <td *ngIf="etudiante.entreprise===null"></td>
      </tr>
     
      

    </tbody>
  </table>
</div>
</div>

<div class="container">
  <div class="panel panel-succes">
    <div class="panel-heading"> ajout Etudiante</div>
     <div class="card-body" >
      <form #f="ngForm"  >
       <div class="col-sm-4 col-md-4 col-lg-4">
              <label for="id">ID:</label>
              <input [(ngModel)]="etudiante.id"  type="text" name="id"  class="form-control">
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
              <label for="prenomNon"> prenomNon:</label>
              <input [(ngModel)]="etudiante.prenomNon" type="text" name="prenomNon"  class="form-control">
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
              <label for="numero"> numero:</label>
              <input [(ngModel)]="etudiante.numero" type="text" name="numero"  class="form-control">
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
              <label for="dateN"> dateN:</label>
              <input  [(ngModel)]="etudiante.dateN" type="date" name="dateN" class="form-control">
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
              <label for=" teleph">  teleph:</label>
              <input  [(ngModel)]="etudiante.teleph" type="text" name=" teleph" class="form-control">
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
              <label for="mail"> mail:</label>
              <input  [(ngModel)]="etudiante.mail" type="text" name="mail"    class="form-control">
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
              <label for="niveau"> niveau:</label>
              <input  [(ngModel)]="etudiante.niveau" type="text"  name="niveau"   class="form-control">
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
              <label for="filiere"> filiere:</label>
              <input [(ngModel)]="etudiante.filiere" type="text"  name="filiere" class="form-control">
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
              <label for="ufr"> ufr:</label>
              <input  [(ngModel)]="etudiante.ufr" type="text"  name="ufr" class="form-control">
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
              <label for="annee"> annee:</label>
              <input  [(ngModel)]="etudiante.annee" type="date"  name="annee" class="form-control">
            </div>

            <div class="col-sm-4 col-md-4 col-lg-4">
              <label for="id">ID:</label>
              <input [(ngModel)]="entreprise.id"  type="text" name="id"  class="form-control">
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
              <label for="nom"> Nom:</label>
              <input [(ngModel)]="entreprise.nom" type="text" name="nom"  class="form-control">
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
              <label for="adress"> Adress:</label>
              <input [(ngModel)]="entreprise.adress" type="text" name="adress"  class="form-control">
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
              <label for="representant"> Representant:</label>
              <input  [(ngModel)]="entreprise.representant" type="text" name="representant" class="form-control">
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
              <label for="qualite"> Qualite:</label>
              <input  [(ngModel)]="entreprise.qualite" type="text" name="qualite"    class="form-control">
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
              <label for="telephone"> Telephone:</label>
              <input  [(ngModel)]="entreprise.telephone" type="text"  name="telephone"   class="form-control">
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
              <label for="mailS"> Mail:</label>
              <input  [(ngModel)]="entreprise.mailS" type="text"  name="mailS" class="form-control">
            </div>

           
           
            <br/>
             <button type="submit" class="btn btn-success" (click)="save()"> Ajouter</button>

     </form>
     </div>
     
  </div>
</div>
  
</body>
</html>




  

